 * {
    box-sizing:border-box;
}   
[class *="col-"]
{
	float:left;
	padding:15px;
}

.row ::after {
	content:"";
	clear:both;
	display:table;

}

html{
background-color: rgb(25,25,25);
}
.header { 
	
position: relative;
border:1px solid white;
border-radius:10px;
/* padding:15px; */
overflow:auto;

}

.header div{
background-color: rgba(0,0,0,0.4);
color:white;
width:90%;
border: 1px solid ;
margin:20px;


position: absolute;

}
 .about {
	bottom:10%;
		}
.title{
 bottom:25%;
} 


img
{
width:96%;
height:auto;
margin:8px;
}

.main{
 background-color : rgba(0,0,0,1);
color:blue;
text-align:center;
height: 400px;
border: 2px solid white;
border-radius:10px;
margin:10px;

}

.main div{
	border: 2px solid white;
	border-radius:10px;
	margin:15px;
	padding:15px;
	background-color:white;




}
.footer{
text-align:center;
border-top: 1px solid white;
color:white;

}











	/* for mobile phones*/
[class*="col-"] {
	
	width:100%
	}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width:91.66%;}
 .col-12 {width:100%;}
}

@media only screen and (min-width: 790px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width:91.66%;}
 .col-s-12 {width:100%;}
}
