.link{
	text-decoration:none;
	color:white;
	}
			
.navbar{
	border: 1px solid white;
	
	
	
	}
	.navbar ul {
	list-style-type:none; 
	margin:0px;
	padding:0px;
	
		
		
	}
.navbar li {
   padding: 8px;
   /*width: 33.3%;*/
/* width:100% */
   margin: 0px;
   background-color: #33b5e5;
   color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  float : left; 
   /*display: inline-block;*/
   text-decoration:none;
   text-align:center;
  border: 1px solid white;
/*
border-radius:5px;
*/
}

.navbar li:hover {
   background-color: #0099cc;
}
